<div class="new_product" style="margin-left:90px;border:none">
    
        <div class="image_product">
           <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'medium'  }}" /></a>
        </div>
        <a href="{{ product.url }}" style="color: #ce6140;font-size: 14px;font-family: "Times New Roman",Times,serif;line-height: 1.35em;">{{ product.title }}</a>
     
</div>